*, ::after, ::before, ::backdrop, ::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

::before, ::after {
  --en-content: '';
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

:-moz-focusring {
  outline: auto;
}

progress {
  vertical-align: baseline;
}

summary {
  display: list-item;
}

ol, ul, menu {
  list-style: none;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

button, input, select, optgroup, textarea, ::file-selector-button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}

:where(select:is([multiple], [size])) optgroup {
  font-weight: bolder;
}

:where(select:is([multiple], [size])) optgroup option {
  padding-inline-start: 20px;
}

::file-selector-button {
  margin-inline-end: 4px;
}

::placeholder {
  opacity: 1;
}

@supports (not (-webkit-appearance: -apple-pay-button)) /* Not Safari */ or (contain-intrinsic-size: 1px) /* Safari 17+ */ {
  ::placeholder {
    color: color-mix(in oklab, currentcolor 50%, transparent);
  }
}

textarea {
  resize: vertical;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-date-and-time-value {
  min-height: 1lh;
  text-align: inherit;
}

::-webkit-datetime-edit {
  display: inline-flex;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-datetime-edit, ::-webkit-datetime-edit-year-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute-field, ::-webkit-datetime-edit-second-field, ::-webkit-datetime-edit-millisecond-field, ::-webkit-datetime-edit-meridiem-field {
  padding-block: 0;
}

:-moz-ui-invalid {
  box-shadow: none;
}

button, input:where([type='button'], [type='reset'], [type='submit']), ::file-selector-button {
  appearance: button;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[hidden]:where(:not([hidden='until-found'])) {
  display: none !important;
}

*, ::before, ::after {
  --en-border-spacing-x: 0;
  --en-border-spacing-y: 0;
  --en-translate-x: 0;
  --en-translate-y: 0;
  --en-rotate: 0;
  --en-skew-x: 0;
  --en-skew-y: 0;
  --en-scale-x: 1;
  --en-scale-y: 1;
  --en-pan-x: ;
  --en-pan-y: ;
  --en-pinch-zoom: ;
  --en-scroll-snap-strictness: proximity;
  --en-ordinal: ;
  --en-slashed-zero: ;
  --en-numeric-figure: ;
  --en-numeric-spacing: ;
  --en-numeric-fraction: ;
  --en-ring-inset: ;
  --en-ring-offset-width: 0px;
  --en-ring-offset-color: #fff;
  --en-ring-color: currentColor;
  --en-ring-offset-shadow: 0 0 #0000;
  --en-ring-shadow: 0 0 #0000;
  --en-shadow: 0 0 #0000;
  --en-shadow-colored: 0 0 #0000;
  --en-blur: ;
  --en-brightness: ;
  --en-contrast: ;
  --en-grayscale: ;
  --en-hue-rotate: ;
  --en-invert: ;
  --en-saturate: ;
  --en-sepia: ;
  --en-drop-shadow: ;
  --en-backdrop-blur: ;
  --en-backdrop-brightness: ;
  --en-backdrop-contrast: ;
  --en-backdrop-grayscale: ;
  --en-backdrop-hue-rotate: ;
  --en-backdrop-invert: ;
  --en-backdrop-opacity: ;
  --en-backdrop-saturate: ;
  --en-backdrop-sepia: ;
}

::-webkit-backdrop {
  --en-border-spacing-x: 0;
  --en-border-spacing-y: 0;
  --en-translate-x: 0;
  --en-translate-y: 0;
  --en-rotate: 0;
  --en-skew-x: 0;
  --en-skew-y: 0;
  --en-scale-x: 1;
  --en-scale-y: 1;
  --en-pan-x: ;
  --en-pan-y: ;
  --en-pinch-zoom: ;
  --en-scroll-snap-strictness: proximity;
  --en-ordinal: ;
  --en-slashed-zero: ;
  --en-numeric-figure: ;
  --en-numeric-spacing: ;
  --en-numeric-fraction: ;
  --en-ring-inset: ;
  --en-ring-offset-width: 0px;
  --en-ring-offset-color: #fff;
  --en-ring-color: currentColor;
  --en-ring-offset-shadow: 0 0 #0000;
  --en-ring-shadow: 0 0 #0000;
  --en-shadow: 0 0 #0000;
  --en-shadow-colored: 0 0 #0000;
  --en-blur: ;
  --en-brightness: ;
  --en-contrast: ;
  --en-grayscale: ;
  --en-hue-rotate: ;
  --en-invert: ;
  --en-saturate: ;
  --en-sepia: ;
  --en-drop-shadow: ;
  --en-backdrop-blur: ;
  --en-backdrop-brightness: ;
  --en-backdrop-contrast: ;
  --en-backdrop-grayscale: ;
  --en-backdrop-hue-rotate: ;
  --en-backdrop-invert: ;
  --en-backdrop-opacity: ;
  --en-backdrop-saturate: ;
  --en-backdrop-sepia: ;
}

::backdrop {
  --en-border-spacing-x: 0;
  --en-border-spacing-y: 0;
  --en-translate-x: 0;
  --en-translate-y: 0;
  --en-rotate: 0;
  --en-skew-x: 0;
  --en-skew-y: 0;
  --en-scale-x: 1;
  --en-scale-y: 1;
  --en-pan-x: ;
  --en-pan-y: ;
  --en-pinch-zoom: ;
  --en-scroll-snap-strictness: proximity;
  --en-ordinal: ;
  --en-slashed-zero: ;
  --en-numeric-figure: ;
  --en-numeric-spacing: ;
  --en-numeric-fraction: ;
  --en-ring-inset: ;
  --en-ring-offset-width: 0px;
  --en-ring-offset-color: #fff;
  --en-ring-color: currentColor;
  --en-ring-offset-shadow: 0 0 #0000;
  --en-ring-shadow: 0 0 #0000;
  --en-shadow: 0 0 #0000;
  --en-shadow-colored: 0 0 #0000;
  --en-blur: ;
  --en-brightness: ;
  --en-contrast: ;
  --en-grayscale: ;
  --en-hue-rotate: ;
  --en-invert: ;
  --en-saturate: ;
  --en-sepia: ;
  --en-drop-shadow: ;
  --en-backdrop-blur: ;
  --en-backdrop-brightness: ;
  --en-backdrop-contrast: ;
  --en-backdrop-grayscale: ;
  --en-backdrop-hue-rotate: ;
  --en-backdrop-invert: ;
  --en-backdrop-opacity: ;
  --en-backdrop-saturate: ;
  --en-backdrop-sepia: ;
}

.container {
  width: 100%;
}

@media (width >= 40rem) {
  .container {
    max-width: 40rem;
  }
}

@media (width >= 48rem) {
  .container {
    max-width: 48rem;
  }
}

@media (width >= 64rem) {
  .container {
    max-width: 64rem;
  }
}

@media (width >= 80rem) {
  .container {
    max-width: 80rem;
  }
}

@media (width >= 96rem) {
  .container {
    max-width: 96rem;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.z-10 {
  z-index: 10;
}

.m-0 {
  margin: 0px;
}

.mx-auto {
  margin-inline: auto;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.h-10 {
  height: 2.5rem;
}

.h-5 {
  height: 1.25rem;
}

.h-8 {
  height: 2rem;
}

.max-h-48 {
  max-height: 12rem;
}

.min-h-screen {
  min-height: 100vh;
}

.w-10 {
  width: 2.5rem;
}

.w-5 {
  width: 1.25rem;
}

.w-5\/6 {
  width: 83.333333%;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.min-w-32 {
  min-width: 8rem;
}

.min-w-36 {
  min-width: 9rem;
}

.max-w-200 {
  max-width: 50rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.cursor-pointer {
  cursor: pointer;
}

.list-inside {
  list-style-position: inside;
}

.list-disc {
  list-style-type: disc;
}

.list-none {
  list-style-type: none;
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.space-x-4 > :not(:last-child) {
  --en-space-x-reverse: 0;
  margin-inline-start: calc(1rem * var(--en-space-x-reverse));
  margin-inline-end: calc(1rem * calc(1 - var(--en-space-x-reverse)));
}

.space-y-4 > :not(:last-child) {
  --en-space-y-reverse: 0;
  margin-block-start: calc(1rem * var(--en-space-y-reverse));
  margin-block-end: calc(1rem * calc(1 - var(--en-space-y-reverse)));
}

.overflow-y-auto {
  overflow-y: auto;
}

.rounded-sm {
  border-radius: 0.25rem;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0px;
}

.bg-gray-100 {
  background-color: oklch(96.7% .003 264.542);
}

.bg-indigo-500 {
  background-color: oklch(58.5% .233 277.117);
}

.bg-white {
  background-color: #fff;
}

.object-cover {
  object-fit: cover;
}

.object-center {
  object-position: center;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.px-2 {
  padding-inline: 0.5rem;
}

.px-5 {
  padding-inline: 1.25rem;
}

.px-6 {
  padding-inline: 1.5rem;
}

.py-1 {
  padding-block: 0.25rem;
}

.py-2 {
  padding-block: 0.5rem;
}

.py-8 {
  padding-block: 2rem;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.leading-relaxed {
  line-height: 1.625;
}

.text-blue-500 {
  color: oklch(62.3% .214 259.815);
}

.text-blue-600 {
  color: oklch(54.6% .245 262.881);
}

.text-blue-700 {
  color: oklch(48.8% .243 264.376);
}

.text-gray-500 {
  color: oklch(55.1% .027 264.364);
}

.text-gray-600 {
  color: oklch(44.6% .03 256.802);
}

.text-gray-700 {
  color: oklch(37.3% .034 259.733);
}

.text-gray-800 {
  color: oklch(27.8% .033 256.848);
}

.text-gray-900 {
  color: oklch(21% .034 264.665);
}

.text-green-600 {
  color: oklch(62.7% .194 149.214);
}

.text-orange-600 {
  color: oklch(64.6% .222 41.116);
}

.text-pink-600 {
  color: oklch(59.2% .249 .584);
}

.text-red-500 {
  color: oklch(63.7% .237 25.331);
}

.text-teal-500 {
  color: oklch(70.4% .14 182.503);
}

.text-white {
  color: #fff;
}

.no-underline {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.outline-none {
  outline-style: none;
}

.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.hover\:text-pink-400:hover {
  color: oklch(71.8% .202 349.761);
}

.hover\:text-indigo-600:hover {
  color: oklch(51.1% .262 276.966);
}

.hover\:text-green-700:hover {
  color: oklch(52.7% .154 150.069);
}

.hover\:text-gray-900:hover {
  color: oklch(21% .034 264.665);
}

.hover\:text-blue-600:hover {
  color: oklch(54.6% .245 262.881);
}

.hover\:text-blue-500:hover {
  color: oklch(62.3% .214 259.815);
}

.hover\:bg-indigo-600:hover {
  background-color: oklch(51.1% .262 276.966);
}

.hover\:bg-gray-200:hover {
  background-color: oklch(92.8% .006 264.531);
}

.hover\:bg-blue-100:hover {
  background-color: oklch(93.2% .032 255.585);
}

.focus\:outline-none:focus {
  outline-style: none;
}

@media (width >= 40rem) {
  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (width >= 40rem) {
  .sm\:py-2 {
    padding-block: 0.5rem;
  }
}

@media (width >= 40rem) {
  .sm\:pl-4 {
    padding-left: 1rem;
  }
}

@media (width >= 40rem) {
  .sm\:mt-0 {
    margin-top: 0px;
  }
}

@media (width >= 40rem) {
  .sm\:ml-4 {
    margin-left: 1rem;
  }
}

@media (width >= 40rem) {
  .sm\:justify-start {
    justify-content: flex-start;
  }
}

@media (width >= 40rem) {
  .sm\:items-center {
    align-items: center;
  }
}

@media (width >= 40rem) {
  .sm\:flex-row {
    flex-direction: row;
  }
}

@media (width >= 40rem) {
  .sm\:flex-col {
    flex-direction: column;
  }
}

@media (width >= 40rem) {
  .sm\:border-l-2 {
    border-left-width: 2px;
  }
}

@media (width >= 40rem) {
  .sm\:border-gray-200 {
    border-color: oklch(92.8% .006 264.531);
  }
}

@media (width >= 48rem) {
  .md\:w-3\/6 {
    width: 50%;
  }
}

@media (width >= 48rem) {
  .md\:space-y-0 > :not(:last-child) {
    --en-space-y-reverse: 0;
    margin-block-start: calc(0px * var(--en-space-y-reverse));
    margin-block-end: calc(0px * calc(1 - var(--en-space-y-reverse)));
  }
}

@media (width >= 48rem) {
  .md\:space-x-4 > :not(:last-child) {
    --en-space-x-reverse: 0;
    margin-inline-start: calc(1rem * var(--en-space-x-reverse));
    margin-inline-end: calc(1rem * calc(1 - var(--en-space-x-reverse)));
  }
}

@media (width >= 48rem) {
  .md\:ml-auto {
    margin-left: auto;
  }
}

@media (width >= 48rem) {
  .md\:mb-0 {
    margin-bottom: 0px;
  }
}

@media (width >= 48rem) {
  .md\:justify-start {
    justify-content: flex-start;
  }
}

@media (width >= 48rem) {
  .md\:flex-row {
    flex-direction: row;
  }
}

@media (width >= 64rem) {
  .lg\:w-2\/6 {
    width: 33.333333%;
  }
}

@media (width >= 64rem) {
  .lg\:w-2\/3 {
    width: 66.666667%;
  }
}

@media (width >= 64rem) {
  .lg\:max-w-240 {
    max-width: 60rem;
  }
}